<section>
  <h2 class="title-team">Our team</h2>
  <p class="text-team">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque nesciunt
    repellat libero, commodi qui minus. Distinctio unde animi omnis voluptatum
    amet exercitationem cumque officia consequatur illo quidem architecto libero
    inventore commodi dignissimos eaque nisi consectetur debitis soluta quo,
    quasi, nesciunt est repellendus odio voluptate? Quidem, harum. In numquam
    aliquam excepturi?
  </p>
</section>
