.about {
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .about {
    padding: 120px 0;
  }
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .about-list {
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .about-list {
    gap: 24px;
  }
}
.about-item {
  width: 288px;
}
@media only screen and (min-width: 768px) {
  .about-item {
    width: 356px;
  }
}
@media only screen and (min-width: 1158px) {
  .about-item {
    width: calc((100% - 72px) / 4);
  }
}
.about-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .about-subtitle {
    text-align: start;
  }
}
@media only screen and (min-width: 1158px) {
  .about-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
.about-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media only screen and (min-width: 1158px) {
  .about-text {
    font-weight: 400;
  }
}
